/* .sellercatalogue {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: px;
    } */

    .main-nav{
        background-color: #4CB050;
    }
    .logo{
        height: 10%;
    }
    search-bar {
        display: flex;
        width: 40%;
        justify-content: center;
        margin-top: 250px;
        border: 7px solid white;
        background-color: white;
        border-radius: 5px;
        margin-left: 400px;
        margin-right: 400px;
          
      }
      
      
      .search-bar input{
        width: 100%;
        border: none;
        outline: none;
      }
      

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        border-left: none;
        border-right: none;
        text-align: center;
      }
      