/* CATALOGUE PAGE */

*{
  margin: 0;
  padding: 0;
  box-sizing: box-sizing;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .logo img {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: inherit;
  
  }
  
  nav {
    /* margin-left: 400px; */
    background-color: #103111;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav .main-nav-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  nav .fa-solid,
  .fa-regular {
    color: rgb(192, 190, 76);
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 30px;
  }

  .container {
    margin: 20px auto;
    padding: 0 40px;
  }
  
  h1 {
    text-align: center;
  }
  
  .filter {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }


  .searchInput {
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }


  .search-filter-divs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#cart-badge{
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: -55px;
  left: 45px;
  
}

  /* .catalog-item {
    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    width: 100%;

  }
  
  .items {
    border: 1px solid #ccc;
    padding: 10px;
  } */
.search-area{
  padding: 40px;
  display: inline;
  

}
  .filtered-item{
    padding: 40px;
  }

  .catalog-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: center;
    padding: 20px;
    }
  
  .product {
    width: 200px;
    /* margin: 10px; */
    padding: 10px;
    border: 0.5px solid #89ce82;
    text-align: center;
    border-radius: 12px;
    background-color: #b4f5b7;
    height: 100%;
    filter: drop-shadow(-2px 0px 3px #b3b3b3);
  
  }
  
  .product img {
    size: 50%;
    border-radius: 10px;
    height: 40%;
    width: 40%;
    
  }
  button{
    padding:10px;
    background-color: #103111;
    color: white;
    border-radius: 8px;
  }
#seller{
  padding:10px;
  border-radius: 8px;
}
#searchForm input{
  padding:10px;
  border-radius: 8px;
}
  /* Style the button container */
div {
  text-align: center;
}

/* Style the button */
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* Hover effect */
.btn:hover {
  background-color: #45a049;
}

